<template>
  <div class="wrapper">
    <header>
      <label>Поиск клиента в АФМ</label>
      <div class="custom_input">
        <input type="number" placeholder="Введите ИИН" v-model="iin">
      </div>
      <button @click="search()">{{button_text}}</button>
    </header>
    <section>
      <h4 :class="[is_found ? 'foundClass' : 'notFoundClass']">{{text_is_found}}</h4>
      <div class="subtext" >{{sub_text}}</div>
    </section>
    <footer>
      Сервис позволяет найти клиента в списке агенства финансового мониторинга
    </footer>
  </div>
</template>

<script>  
  export default {
    data() {
      return {
        iin: null,
        test_data: null,
        is_found: false,
        text_is_found: '',
        sub_text: '',
        button_text: 'Выполнить поиск'
      }
    },
    mounted() {
      var xhttp = new XMLHttpRequest();
      let self = this
      xhttp.open('GET', './t.xml', true);
      xhttp.onreadystatechange = function() {
          if(this.readyState == 4 && this.status == 200) {
              self.test_data = this.responseXML;
          }
      }
      xhttp.send();
    },
    methods:{
      search(){
        let persons = this.test_data.getElementsByTagName('xml')[0].getElementsByTagName('persons')[0].getElementsByTagName('person')
        for (let i of persons){
          this.button_text = "Выполнить новый поиск"
          if (this.iin == i.getElementsByTagName('iin')[0].innerHTML){
            this.is_found = true
            this.text_is_found = "Клиент обнаружен"
            this.sub_text = 'Проведение сделок с клиентом не рекомендуется'
            return
          }else{
            this.is_found = false
            this.text_is_found = "Клиент не обнаружен"
            this.sub_text = 'Проведение сделок с данным клиентом возможно'
          }
        }
      }
    }
  }
  </script>

<style scoped>
@font-face {
  font-family: Inter;
  src: url('./assets/Inter-Regular.otf');
}
* {
  font-family: "Inter";
}
.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95vh}
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}
input{
  border: 1px solid #F4DBDB;
  border-radius: 5px;
  width: calc(100% - 22px);
  padding: 0 10px;
  height: 67px;
  position: relative;
}

input::placeholder{
  color: #000;
  font-size: 14px;
}
label{
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-top: 30px;
}
.custom_input{
  position: relative;
  width: 100%;
  margin-top: 30px;
}
.custom_input::before{
  content: '';
  position: absolute;
  top: -5px;
  bottom: 0;
  right: 10px;
  margin: auto;
  width: 30px;
  z-index: 9;
  height: 25px;
  background: url('./camera.svg') no-repeat;
  background-size: cover;
}
button{
  background-color: #CBE3E9;
  border-radius: 6px;
  outline: none;
  border: none;
  height: 53px;
  width: 100%;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
}
section{
  text-align:center;;
}
h4{
  margin-top: -1.3em;
}
.subtext{
  color: #A7B3D2;
  font-size: 14px;
}
.foundClass{
  color: #F01414;
}
.notFoundClass{
  color:#3E60B6
}
footer{
  text-align: center;
  color: #B58080;
}
@media (min-width: 740px) {
  .wrapper{
    width: 740px;
    margin: 0 auto;
  }
}
</style>
